<ng-container>
  <header
    class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow"
  >
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#"
      >Angular Course</a
    >

    <div class="dropdown dp-wrapper">
      <div
        class="text-white dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        style="cursor: pointer"
      >
        Hi! {{ authService.user.firstName }} ({{ authService.user.roleName }})
        <img
          [src]="authService.user.profilePic | filePath"
          alt="image"
          width="30"
          height="30"
        />
      </div>
      <ul class="dropdown-menu">
        <li><button class="dropdown-item" type="button">Profile</button></li>
        <li>
          <button class="dropdown-item" type="button" (click)="logout()">
            Logout
          </button>
        </li>
      </ul>
    </div>
  </header>

  <div class="container-fluid">
    <div class="row">
      <nav
        id="sidebarMenu"
        class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
      >
        <div class="position-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" [routerLink]="['/dashboard']" routerLinkActive="router-link-active" >
                <span data-feather="home"></span>
                Dashboard
              </a>
            </li>
            <li class="nav-item" [authorize]="['Admin']">
              <a class="nav-link active" aria-current="page" [routerLink]="['/dashboard']" routerLinkActive="router-link-active" >
                <span data-feather="home"></span>
                Products
              </a>
            </li>
            <li class="nav-item" [authorize]="['Admin', 'Supervisor']">
              <a class="nav-link active" aria-current="page" [routerLink]="['/dashboard/customer']" routerLinkActive="router-link-active" >
                <span data-feather="home"></span>
                Customer
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
</ng-container>
