<form [formGroup]="loginForm" (submit)="submitLoginForm()">
  <section aria-describedby="Header">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
  </section>

  <section aria-describedby="Message" *ngIf="!!apiResponse">
    <p [ngClass]="apiResponse.id !== 1 ? 'text-danger' : 'text-success'">
      {{ apiResponse.message }}
    </p>
  </section>

  <section aria-describedby="Login inputs">
    <div class="form-floating">

      <mat-form-field>

        <mat-label>Username</mat-label>

        <input
          matInput
          placeholder="Enter Username"
          formControlName="userName"
        />
      </mat-form-field>

      <p
        *ngIf="
          loginForm.get('userName')?.invalid &&
          loginForm.get('userName')?.errors &&
          (loginForm.get('userName')?.dirty ||
            loginForm.get('userName')?.touched)
        "
        class="text-danger"
      >
        <span *ngIf="loginForm.get('userName')?.hasError('required')"
          >Username is required!</span
        >
      </p>
    </div>
    <div class="form-floating mt-3">
      <mat-form-field>

        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" formControlName="password" />
      </mat-form-field>

      <p
        *ngIf="
          loginForm.get('password')?.invalid &&
          loginForm.get('password')?.errors &&
          (loginForm.get('password')?.dirty ||
            loginForm.get('password')?.touched)
        "
        class="text-danger"
      >
        <span *ngIf="loginForm.get('password')?.hasError('required')"
          >Password is required!</span
        >
      </p>
    </div>

    <div class="checkbox mb-3 mt-3">
      <label>
        <input
          type="checkbox"
          formControlName="rememberMe"
          value="remember-me"
        />
        Remember me
      </label>
    </div>
  </section>

  <section aria-describedby="Button action">
    <button class="w-100 btn btn-lg btn-primary" type="submit">
      {{ pendingRequest ? "Please Wait.." : "Sign In" }}
    </button>
  </section>
</form>

<section aria-describedby="Navigation">
  <p class="mt-3">
    <a class="text-primary" routerLink="../forgot-password"
      >Forgot password ?</a
    >
  </p>
</section>
