<div class="text-center account-wrapper">
    <main>
        <header>
            <img class="mb-4" src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" width="72"
                height="57">
        </header>

        <section aria-describedby="Child page content">
            <router-outlet></router-outlet>
        </section>

        <footer>
            <p class="mt-5 mb-3 text-muted">© 2017–2022 | All rights are reserved</p>
        </footer>
    </main>
</div>
