.account-wrapper {
    display         : flex;
    align-items     : center;
    padding-top     : 5%;
    padding-bottom  : 8%;
    background-color: #f5f5f5;
    min-height: 100vh;

    main {
        width     : 100%;
        max-width : 330px;
        padding   : 15px;
        margin    : auto;
        border    : 1px solid #ccc;
        box-shadow: 0px 1px 5px 0px #ccc;
    }
}