<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center"
>
  <h1 class="h2">Customer Manager</h1>
  <hr />
</div>

<div>
  <lib-angular-grid></lib-angular-grid>
</div>
